apiVersion: v1
kind: Service
metadata:
  name: tech-payment-api-service
  namespace: payment-service
  labels:
    app: tech-payment-api
spec:
  type: ClusterIP
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: tech-payment-api 